.card {
  background-color: #ededed;
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
  line-height: var(--ifm-heading-line-height);
  padding: 32px;
  transition: border-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

[data-theme='dark'] .card {
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid var(--ifm-color-emphasis-300);
}

.card:hover {
  border-color: var(--ifm-color-primary);
  background-color: var(--ifm-color-emphasis-100);
  /* Use relative path for better component portability */
  background-image: url('./assets/product-card-hover.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.logo > img {
  height: 24px;
}

/* Only invert the logo color when explicitly specified */
[data-theme='light'] .card:hover .invertOnHover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.body {
  color: var(--ifm-color-content-secondary);
  font-size: var(--ifm-h5-font-size);
  font-weight: var(--ifm-font-weight-semibold);
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.card:hover .body {
  color: #ffffff;
}

.link {
  font-size: var(--ifm-font-size-base);
  font-weight: var(--ifm-font-weight-normal);
  margin-top: auto;
  word-break: break-word;
}

.card .link::after {
  content: ' ↗';
}
