/* Footer classes to match the style of stacklok.com */

[data-theme='dark'] .footer__logo--custom {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.footer__copyright {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
}

.footer__item {
  font-size: 14px;
  font-weight: 500;
}

.footer__item:not(:last-child) {
  padding-bottom: 10px;
}

.footer__icon--custom {
  padding: 0px 12px;
}

.footer__link-item {
  line-height: 24px;
  --ifm-link-hover-decoration: none;
}

.footer__col:first-child {
  max-width: 400px;
  margin-right: auto;
}

.footer__col:last-child {
  max-width: 200px;
  margin-right: 0px;
}
