/**
 * Navbar & footer icon classes
 */
.github-link::before {
  content: '';
  height: 19px;
  width: 19px;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url('/img/github-brands-solid.svg');
  mask-repeat: no-repeat;
  transition: background-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.github-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color) !important;
}

.discord-link::before {
  content: '';
  height: 20px;
  width: 21px;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url('/img/discord-brands-solid.svg');
  mask-repeat: no-repeat;
  mask-position: 0% 50%;
  mask-repeat: no-repeat;
  transition: background-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.discord-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color) !important;
}

.youtube-link::before {
  content: '';
  height: 16px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url('/img/youtube-brands-solid.svg');
  mask-position: 0% 50%;
  mask-repeat: no-repeat;
  transition: background-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.youtube-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color) !important;
}

.linkedin-link::before {
  content: '';
  height: 18px;
  width: 18px;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url('/img/linkedin-brands.svg');
  mask-repeat: no-repeat;
  transition: background-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.linkedin-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color) !important;
}
